* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

--------------------------------------- .grid-container {
  display: grid;
  grid-template-rows: auto auto auto; /* 3 rows */
  grid-template-columns: 1fr 1fr 1fr; /* Three columns, adjust as needed */
  gap: 10px; /* Gap between grid items */
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three columns in each row */
  gap: 10px; /* Gap between columns */
}

.col {
  /* Style each column as needed */
  border: 1px solid #ccc;
  padding: 10px;
}
