* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --font-family-web: "Times New Roman";
  --font-family-links: "nyt-franklin, helvetica, arial, sans-serif";
  --btn-background-color: #567b95;
  --btn-font-color: #ffffff;
}

body {
  font-family: "Times New Roman";
  margin: 13px 350px 0px 340px;
}
/*--------------------------------------------------*/
.father-container {
  border-top: rgb(214, 213, 213) solid 1px;
}
.search-bar-header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  gap: 20rem;
}
.search-logo {
  width: 34px;
  height: 33px;
  padding: 8px 0px 8px 9px;
  border: none;
  background-color: transparent;
  /* margin-left: 340px; */
}

/*---------------------*/

ul {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  padding: 0 1%;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.48px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  height: 23px;
  gap: 0px 2rem;
}

.U.S. {
  width: 36px;
  margin-left: 443px;
}
.INTERNATIONAL {
  width: 93px;
}
.CANADA {
  width: 55px;
}
.Español {
  width: 60px;
  text-transform: uppercase;
}
.中文 {
  width: 37px;
  display: flex;
}
/*---------*/
.two-buttons-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
  font-size: 11px;

  color: var(--btn-font-color);
  padding: 8px 12px;
  margin: 0px 7px 0px 0px;

  height: 29px;
  gap: 0px 2rem;
}

.subscribe-btn {
  display: flex;
  background-color: var(--btn-background-color);
  align-items: center;
  justify-content: center;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  width: 188px;
  height: 29px;
  border-radius: 2.5px;
  transition: var(--btn-background-color) 0.8s ease-in-out 2s;
}
.subscribe-btn:hover {
  background-color: #135b8f;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-background-color);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  width: 64.41px;
  height: 29px;
  border-radius: 2.5px;
  transition: var(--btn-background-color) 0.8s ease-in-out 2s;
}
.login-btn:hover {
  background-color: #135b8f;
}

/*-----------------------center nav bar--------------*/

.container-center-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  gap: 20rem;
}

.left-two-rows {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.NYTimes-title {
  width: 430px;
  height: 59px;
}
.right {
  display: flex;
  gap: 10px;
  font-size: 12px;
}
.date-left .Todays-paper-left {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #121212;
  flex-direction: none;
}
/*------------------third nav bar------------------------------------------------*/
ul.Third-Navbar {
  display: flex;
  align-items: center;
  border-bottom: #121212 solid 1px;
  height: 52px;
  border-top: rgb(214, 213, 213) solid 1px;
}
li {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #121212;
  padding: 0px 6px 0px 0px;
}
/*-------------------------BREAKING news -----------------------------------------*/
div.BREAKING-div {
  margin-top: 2px;
  margin-bottom: 5px;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 15px;
  border-top: #121212 solid 1px;
}
.BREAKING-P {
  font-family: 'nyt-cheltenham, georgia, "times new roman", times, serif';
  font-size: 16px;
  color: #121212;
  max-width: 1200px;
}
.italic {
  font-style: italic;
}
.BREAKING {
  color: #d0021b;
  font-weight: 700;
  font-size: 11px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-style: none;
}
/*---------------- Main and Aside using flex-----------------------------------------*/
.main-container {
  display: flex;
  /* border: #d0021b 1px solid; */
  max-width: 1200px;
  height: 2057px;
}
main {
  display: flex;
  flex-direction: column;
  height: 1791px;
}
.main-one .main-two .main-three .main-four {
  /* border: orange 5px solid; */
  width: 835px;
}
.main-one {
  /* border: orange 5px solid; */
  width: 830px;
  height: 501px;
}
.main-two {
  /* border: orange 5px solid; */
  width: 830px;
  height: 436px;
}
.main-three {
  /* border: orange 5px solid; */
  width: 830px;
  height: 442px;
}
.main-four {
  /* border: orange 5px solid; */
  width: 830px;
  height: 412px;
}

aside {
  display: flex;
  flex-direction: column;
  height: 2057px;
}
.aside-one {
  /* border: greenyellow 1px solid; */
  width: 337x;
  height: 590px;
}
.aside-two {
  /* border: gray 1px solid; */
  border-top: gray 1px solid;
  width: 337x;
  height: 1200px;
}
/*-------------using grid-----------------------------------------------------------*/
.col1 {
  width: 817px;
  height: 1791px;
  gap: right 33px;
  /* border: #121212 solid 1px; */
}
.col2 {
  width: 337px;
  height: 1200px;
  margin-left: 33px;
}
.grid-container {
  display: grid;
  grid-template-rows: auto auto auto; /* 3 rows */
  grid-template-columns: 1fr 1fr 1fr; /* Three columns, adjust as needed */
  gap: 10px; /* Gap between grid items */
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three columns in each row */
  gap: 10px; /* Gap between columns */
}

.col {
  /* Style each column as needed */
  border: 1px solid #ccc;
  padding: 10px;
}
/*--------------------------------Main one----------------------------------------------*/
.order-up {
  display: flex;
  flex-direction: row;
  border-bottom: rgb(214, 213, 213) solid 1px;
}
.one-upper-left-father {
  /* border: solid 1px #d0021b; */
  width: 325px;
  height: 170px;
}
.title-p-main {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 18px;
  line-height: 1.15em;
  color: #121212;
  font-weight: 700;
  margin-inline-end: 0px;
  margin-block-end: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.content-p-main {
  color: #5a5a5a;
  font-family: nyt-imperial;
  font-size: 16px;
  -webkit-letter-spacing: 0.1px;
  -moz-letter-spacing: 0.1px;
  -ms-letter-spacing: 0.1px;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 0.5rem;
}
.small-p-main {
  font-size: 11px;
  color: #727272;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  border-bottom: rgb(214, 213, 213) solid 1px;
}

/*------------------------------------------------------------------------------*/
.second-upper-left {
  display: grid;
  /* border: solid 1px #d0021b; */
  width: 325px;
  height: 237.97px;
}
.Analysis {
  margin: 1px 0px 0px 0px;
  text-transform: uppercase;
  size: 12px;
  color: #121212;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}
/*-----third middle right------------*/
.main-pic-one {
  width: 485px;
  height: 400px;
  margin-left: 20px;
  margin-top: 20px;
}
/*-------------------------*/
.four-bottom-left {
  /* border: solid 1px #d0021b; */
  width: 445.98px;
  height: 85px;
}
.live {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.25em;
  letter-spacing: 0.1em;
  font-weight: 800;
  color: #d0021b;
  white-space: normal;
}
.one-hr-ago {
  position: absolute;
  display: inline-block;
}
.title-p-main-two {
  padding-left: 5px;
  padding-top: 5px;
  font-size: 13px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  line-height: 1.15em;
  color: #121212;
  font-weight: 700;
}
.content-p-main-two {
  font-size: 12;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-transform: uppercase;
}

/*---------------------*/
.five-bottom-right {
  /* border: solid 1px #d0021b; */
  width: 445.98px;
  height: 85px;
  padding: 20px;
}

.title-p-main-three {
  font-size: 13px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  line-height: 1.15em;
  color: #121212;
  font-weight: 700;
}
.order-bottom {
  display: flex;
  flex-direction: row;
}
/*--------------------main -two-------------------------------------------------*/
.main-two {
  display: flex;
  flex-direction: row;
}
.second-upper-left-father {
  /* border: solid 1px #d0021b; */
  border-bottom: solid 1px solid #ccc;
  width: 325px;
  height: 165px;
}

.title-p-main {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 17px;
  line-height: 1.15em;
  color: #121212;
  font-weight: 700;
  margin-inline-end: 0px;
  margin-block-end: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.content-p-main {
  color: #5a5a5a;
  font-family: nyt-imperial;
  font-size: 16px;
  -webkit-letter-spacing: 0.1px;
  -moz-letter-spacing: 0.1px;
  -ms-letter-spacing: 0.1px;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 0.5rem;
}
.small-p-main {
  font-size: 11px;
  color: #727272;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  border-bottom: rgb(214, 213, 213) solid 1px;
}

.left-middle {
  font-size: 16px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  width: 325px;
  height: 55px;
  line-height: 1.2em;
  color: #121212;
  font-weight: 800;
  padding-top: 15px;
  /* border: solid 1px #d0021b; */
}
.left-bottom {
  width: 340px;
  height: 54px;
}
.content-p-main-left-bottom {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 17px;
  line-height: 1.15em;
  color: #121212;
  font-weight: 700;
  margin-inline-end: 0px;
  margin-block-end: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.small-p-main- {
  font-size: 11px;
  color: #727272;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  padding-bottom: 10px;
  border-bottom: rgb(214, 213, 213) solid 1px;
}
.white-space-main-two {
  width: 325px;
  height: 185px;
}
/*-------------------*/
.div-video {
  margin-top: 0px;
  padding-top: 0px;
}
.video-main {
  width: 485px;
  height: 408px;
  margin-left: 20px;
}
/*--------------------------------------main-three--------------------------------------*/
.main-three {
  display: flex;
  flex-direction: row;
}
.order-main-three {
  width: 338.55px;
  height: 447.67px;
}
/*-----------left-upper-main-three-----------*/
.title-p-main {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 17px;
  line-height: 1.15em;
  color: #121212;
  font-weight: 700;
  margin-inline-end: 0px;
  margin-block-end: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin-top: 2px;
}
.content-p-main {
  color: #5a5a5a;
  font-family: nyt-imperial;
  font-size: 16px;
  -webkit-letter-spacing: 0.1px;
  -moz-letter-spacing: 0.1px;
  -ms-letter-spacing: 0.1px;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 0.5rem;
}
.small-p-main {
  font-size: 11px;
  color: #727272;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  border-bottom: rgb(214, 213, 213) solid 1px;
}
/*------------left-middle-three--------*/
.title-p-main {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 17px;
  line-height: 1.15em;
  color: #121212;
  font-weight: 700;
  margin-inline-end: 0px;
  margin-block-end: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.content-p-main {
  color: #5a5a5a;
  font-family: nyt-imperial;
  font-size: 16px;
  -webkit-letter-spacing: 0.1px;
  -moz-letter-spacing: 0.1px;
  -ms-letter-spacing: 0.1px;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 0.5rem;
}
.small-p-main {
  font-size: 11px;
  color: #727272;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  border-bottom: rgb(214, 213, 213) solid 1px;
}
/*-------left-bottom-three--------*/
.p-main-three {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 16px;
  line-height: 1.15em;
  color: #121212;
  font-weight: 700;
  margin-inline-end: 0px;
  margin-block-end: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.small-p-main-three {
  font-size: 11px;
  color: #727272;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  border-bottom: rgb(214, 213, 213) solid 1px;
}
.img-main-three {
  width: 485px;
  height: 400px;
  margin-left: 20px;
}
/*-------------main-four-----------------*/
.main-four {
  display: flex;
  flex-direction: row;
}
.left-upper-main-four {
  width: 338.55px;
  height: 447.67px;
}

.title-p-main {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 17px;
  line-height: 1.15em;
  color: #121212;
  font-weight: 700;
  margin-inline-end: 0px;
  margin-block-end: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.content-p-main {
  color: #5a5a5a;
  font-family: nyt-imperial;
  font-size: 16px;
  -webkit-letter-spacing: 0.1px;
  -moz-letter-spacing: 0.1px;
  -ms-letter-spacing: 0.1px;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 0.5rem;
}
.small-p-main {
  font-size: 11px;
  color: #727272;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  border-bottom: rgb(214, 213, 213) solid 1px;
}
.img-main-four {
  width: 485px;
  height: 400px;
  margin-left: 20px;
}
/*----------------Aside-first---------------------*/
.aside-one {
}
.img-aside-one {
  width: 336px;
  height: 225px;
  margin-top: 20px;
  margin-right: 20px;
}
.title-p-main-aside-one {
  font-weight: 800;
  font-size: 18px;
}
.p-main-aside-bottom {
  font-size: 13.5px;
  font-weight: 800;
}
.p-main-aside-bottom-second {
  font-size: 13.5px;
  font-weight: 800;
  justify-content: right;
}

.two-images-Aside-one {
  display: flex;
}
.img-aside-first {
  width: 144px;
  height: 96px;
  margin-top: 15px;
}
.img-aside-second {
  width: 144px;
  height: 96px;
  margin-top: 15px;
  margin-left: 25px;
}
.left-bottom-Aside-two-from-two-images {
  margin-left: 25px;
}

/*------------------Aside-second------------------------------*/
.aside-two {
}

.Opinion-one {
  font-size: 16px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: #121212;
}
.profile-pic-one {
  display: flex;
}
.img-aside-two-first-first {
  width: 322px;
  height: 215px;
}

.img-aside-two-second-second {
  width: 145.31px;
  height: 145.31px;
}

.all-in-one {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 11px;
  color: #727272;
  margin: 0px 0px 4px;
  font-weight: 600;
}
.all-in-two {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 15px;
  color: #121212;
  font-weight: 550;
}
.all-in-three {
  font-size: 11px;
  color: #727272;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  border-bottom: rgb(214, 213, 213) solid 1px;
}
.last-flex {
  display: flex;
  flex-direction: row;
}

.all-in-one-last {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 11px;
  color: #727272;
  margin: 0px 0px 4px;
  font-weight: 600;
}
.all-in-two-last {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 15px;
  color: #121212;
  font-weight: 550;
}
.all-in-three-last {
  font-size: 10px;
  color: #727272;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  border-bottom: rgb(214, 213, 213) solid 1px;
}
.the-end {
  padding-right: 10px;
}
.second-profile-pic {
  margin-left: 10px;
}
